/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('membership.png');
  background-size:22%;
  background-repeat: no-repeat;
  background-position: center;
  
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Registration Form Styles */
.registration {
  text-align: center;
  padding-top: 50px; /* Adjust vertical alignment */
}

.registration h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker green */
}

p {
  margin-top: 20px;
}

p a {
  color: #007bff; /* Blue */
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}